<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Starwars</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="/">Star Wars</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/starships">Starships</a>
                </li>
            </ul>
        </nav>

        <div style="overflow-y: auto; overflow-x: auto;" class="container">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"><a href="{{ url_for('order_by', key='name') }}">Name</a></th>
                        <th scope="col"><a href="{{ url_for('order_by', key='height') }}">Height(cm)</a></th>
                        <th scope="col"><a href="{{ url_for('order_by', key='mass') }}">Mass(kg)</a></th>
                        <th scope="col"><a href="{{ url_for('order_by', key='gender') }}">Gender</a></th>
                        <th scope="col">Films</th>
                        <th scope="col">Starships</th>
                        <th scope="col">Vehicles</th>
                        <th scope="col">Homeworld</th>
                    </tr>
                </thead>
                <tbody>
                {% for person in people %}
                    <tr>
                        <td>{{ person.name }}</td>
                        <td>{{ person.height }}</td>
                        <td>{{ person.mass }}</td>
                        <td>{{ person.gender }}</td>
                        <td>{{ person.films }}</td>
                        <td>{{ person.starships }}</td>
                        <td>{{ person.vehicles }}</td>
                        <td>{{ person.homeworld }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div style="text-align: center;">
                {{ paginate.links }}
                {{ paginate.info }}
                {% if last_filter %}
                    <p class="lead"><b>Filtering by:</b> {{ last_filter }}</p>
                    <form method="GET" action="/clear">
                        <button class="btn btn-primary" type="submit">Clear Filter</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <form method="POST" action='/'>
                <p class="lead">Filters:</p>
                <select class="form-control" name="films" onChange="this.form.submit()">
                    <option selected>Select a film</option>
                    {% for url, data in resources.get('films').items() %}
                    <option value="{{ url }},{{ data['title'] }}">{{ data['title'] }}</option>
                    {% endfor %}
                </select>
            </form>
            
            <form method="POST" action='/'>
                <select class="form-control" name="starships" onChange="this.form.submit()">
                    <option class='option' selected>Select a starship</option>
                    {% for url, data in resources.get('starships').items() %}
                    <option class='option' value="{{ url }},{{ data['name'] }}">{{ data['name'] }}</option>
                    {% endfor %}
                </select>
            </form>
            
            <form method="POST" action='/'>
                <select class="form-control" name="planets" onChange="this.form.submit()">
                    <option selected>Select a planet</option>
                    {% for url, data in resources.get('planets').items() %}
                    <option value="{{ url }},{{ data['name'] }}">{{ data['name'] }}</option>
                    {% endfor %}
                </select>
            </form>
            
            <form method="POST" action='/'>
                <select class="form-control" name="vehicles" onChange="this.form.submit()">
                    <option selected>Select a vehicle</option>
                    {% for url, data in resources.get('vehicles').items() %}
                        <option value="{{ url }},{{ data['name'] }}">{{ data['name'] }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </body>
</html>